{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="mx-auto my-2 order-0 order-md-0 position-relative">
{#        <a class="mx-auto" href="{% url 'webapp:home' %}">#}
{#            <img src="{% static 'images/logo.png' %}" class="rounded-circle">#}
{#        </a>#}
        <a href="{% url 'webapp:home' %}" class="navbar-brand">IMPACT INT'L</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div class="navbar-collapse collapse w-100 dual-collapse2 order-1 order-md-1"></div>
    <div class="navbar-collapse collapse w-100 dual-collapse2 order-2 order-md-2">
        <ul class="navbar-nav mr-auto text-right">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'webapp:home' %}">HOME</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'webapp:about' %}">ABOUT</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'webapp:contacts' %}">CONTACTS</a>
            </li>
        </ul>
    </div>
</nav>
