{% extends 'webapp/base_layout.html' %}
{% load static %}
{% block content %}
    <div class="container-fluid">
    <div class="about row" style='background-image: url("{% static 'webapp/images/about.png' %}")'>
        <div class="col-sm-3">
            <h3 class="font-weight-bold">ABOUT US</h3>
            <p>We are an idea driven and result oriented agency built to connect brands and experiences. Our niche in
                event management, brand building, content creation, talent sourcing, branding and merchandising has
                etched our name in the communication industry.</p>
        </div>
    </div>
    <div class="about-2">
        <div class="row">
            <div class="col-md-6">
                <img src="{% static 'webapp/images/avril.png' %}" class="img-fluid" alt="">
            </div>
            <div class="col-md-6">
                <div class="vsn-msn" id="vision">
                    <h3>Our Vision</h3>
                    <p>To be the leading promotion and positioning consultants within East Africa. To be acknowledged
                        for distinguished service to every client we encounter and every project we undertake.</p>
                </div>
                <div class="vsn-msn" id="mission">
                    <h3>Our Mission</h3>
                    <p>To provide our clients with quality services that improve their bottom line and increase their
                        brand worth.</p>
                </div>
            </div>
        </div>
    </div>
    <!-- philosophy -->
    <div class="philosophy">
        <div class="row">
            <div class="col-md-6 order-md-1">
                <img src="{% static 'webapp/images/impact-3.png' %}" class="img-fluid" alt="">
            </div>
            <div class="col-md-6 order-md-0">
                <div>
                    <h2>OUR PHILOSOPHY</h2>
                    <p>We aim to inspire generations and contribute to a sense of global community with products
                        that captivate and educate.</p>
                    <p>Our philosophy is simple: we take brands through a journey... We work hard, do great work and
                        ultimately make our brand partners happy.</p>
                    <p>With our years of experience in the field and our range of empowered client, we aim to get
                        clients the most innovative and multidimensional concepts, expressed through video, audio,
                        interactive and web, photography, graphic design and events.</p>
                </div>
            </div>
        </div>
    </div>
    <!-- approach  -->
    <div id="approach">
        <div class="row">
            <div class="col-md-6 text-center">
                <img src="{% static 'webapp/images/nescafe.png' %}" class="img-fluid" alt="">
            </div>
            <div class="col-md-6">
                <h2>OUR APPROACH</h2>
                <h3>01</h3><h5>Insight</h5>
                <p>We read the brief. We immerse ourselves in understanding the message we need to convey. We do
                    research and this is what informs the concept, drives the overarching and determines the medium
                    we will use.</p>
                <h3>02</h3><h5>Strategy</h5>
                <p>We establish the creative treatment and  expand on the primary medium, key emotive touchpoints,
                    media channels and extensions. Our commitment is to craft a full service of multi-media
                    solutions that works for the brand and the market.</p>
                <h3>03</h3><h5>Execution</h5>
                <p>Every project is defined by a single-minded message. The message is articulated through different
                    mediums and enforced by different partnerships.</p>
            </div>
        </div>
    </div>
    </div>


    <script src="{% static 'webapp/js/bootstrap.js' %}"></script>
{% endblock content %}