{% load static %}
<!DOCTYPE html>
<html lang="en">
<head profile="http://www.w3.org/2005/10/profile">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="icon"
      type="image/png"
      href="{% static 'webapp/images/logo.png' %}">
    <title>IMPACT INTERNATIONAL|{{ title }}</title>
    <link rel="stylesheet" href="{% static 'webapp/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'webapp/css/style.css' %}">
{#    <link rel="stylesheet" href="{% static 'webapp/css/fontawesome-all.css' %}">#}
</head>
<body class="container-fluid">
    <div class="mini-banner">
        {% include 'webapp/includes/navbar.html' %}
    </div>
    {% block content %}{% endblock %}
    {% include 'webapp/includes/footer.html' %}
    <script src="{% static 'webapp/js/bootstrap.js' %}"></script>
</body>
</html>
